// .container{
//     max-width: 100%;
//     margin: 0 auto;
//     padding: 0 15px;
//     @media screen and (min-width: 1200px) {
//         max-width: 1310px;
//     }
// }
body{
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.title{
    font-family: $font-title;
    color: $primary-color;
}